
List/.vs/List/v15/.suo
*.db
*.ipch
*.exe
*.ilk
*.pdb
List/enc_temp_folder/922ebe1de4f93c9afc70ed4b989577a9/List.cpp
*.sln
*.log
*.enc
*.obj
*.tlog
*.idb
List/List/List.cpp
*.vcxproj
*.filters
*.user
OT_1/OT_1/.vs/OT_1/v15/.suo
OT_1/OT_1/OT_1/OT_1.cpp
OT_1/OT_1/OT_1/input.txt
OT_1/OT_1/OT_1/output.txt
YAP_0/.vs/YAP_0/v15/.suo
YAP_1/.vs/YAP_1/v15/.suo
YAP_2/YAP_2/.vs/YAP_2/v15/.suo
*.opendb
YAP_3/.vs/YAP_3/v15/.suo
OT_2/.vs/OT_2/v15/.suo
